<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="url" value ="http://192.168.191.92:54001/TADashboard/2f9njff6y9.page"/>
    <add key="browser" value="chrome"/>
    <add key="hub" value="http://192.168.190.158:4444/wd/hub/"/>
    <add key ="run type" value ="grid"/>
    <add key ="firefox version" value="47"/>
    <add key="chrome version" value="51"/>
    <add key ="ie version" value="11"/>
    <add key="edge version" value="10586"/>
  </appSettings>
</configuration>