<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fenton.Selenium.SuperDriver" version="0.2.0.0" targetFramework="net452" />
  <package id="Selenium.Support" version="2.53.1" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="2.53.1" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.23.0.1" targetFramework="net452" />
  <package id="Selenium.WebDriver.MicrosoftWebDriver" version="10.0.10586.0" targetFramework="net452" />
  <package id="WebDriver.IEDriverServer.win32" version="2.44" targetFramework="net452" />
</packages>